@use '@angular/material' as mat;
@import "tailwindcss";

$customeTheme: mat.define-theme();

@include mat.core();

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custome-theme {
  @include mat.all-component-themes($customeTheme);

  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-mdc-snack-bar-button-color: #ffffff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-mdc-snack-bar-button-color: #ffffff;
}
